input.form-control {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.help-block{
  color: red;
  font-size: 14px;
}

.label {
  margin-top: 8px;
}

.form-select {
  margin-top: 8px;
}
