<div class="container">
  <div class="row">
    <div class="col">
      <h1>Elenco dei viaggi</h1>
      <div class="table table-bordered table-striped">
        <thead>
          <tr>
            <!-- <th>ID</th> -->
            <th>Destinazione</th>
            <th>Durata</th>
            <th>Prezzo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let viaggio of travels">
            <!-- <td><span>{{ viaggio.id }}</span></td> -->
            <td><span>{{ viaggio.destinazione }}</span></td>
            <td><span>{{ viaggio.durata }} giorni</span></td>
            <td><span>{{ viaggio.prezzo }}€</span></td>
            <td><button class="btn btn-primary" (click)="openForm()" (click)="getValueById(id)">PRENOTA ORA</button></td>
          </tr>
        </tbody>
      </div>
    </div>
    <div class="col" *ngIf="showForm">
      <app-pagamento></app-pagamento>
    </div>
  </div>
</div>


